/* COMPONENTS */
.App {
  display: flex;
  flex-direction: column;
  background: linear-gradient(25deg, #d4376e -40%, #073d61 100%);
  text-align: center;
  min-height: 100vh;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loading-screen {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  align-items: center;
  background: rgba(119, 136, 153, 0.5);
}

.error-alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 50%;
  position: fixed;
  align-items: center;
}

.error-alert .btn-close:focus {
  box-shadow: none;
}

.custom-spinner {
  height: 100px !important;
  width: 100px !important;
  border-width: 5px !important;
}

.app-info-panel {
  display: flex;
  align-items: center;
}

.custom-button {
  border-radius: 10px !important;
  background-color: rgba(33, 35, 40, 255) !important;
  border: 1px solid gray !important;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #5c636a !important;
}

.connect-button {
  min-height: 35px;
  min-width: 100px;
}

.info-button {
  height: 30px;
  cursor: pointer;
  margin-left: 25px;
}

.app-title {
  font-size: 30px;
  margin-left: 25px;
}

.wallet-panel {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  margin-top: 25px;
}

.header-target-network {
  font-size: 12px;
  margin: 0px;
  color: #e0d068
}

.main-panel {
  padding: 25px;
  width: 100%;
}

.main-panel .row {
  justify-content: space-evenly;
  margin-bottom: 25px;
}

.App-link {
  color: #61dafb;
}

.modal-content {
  background: rgba(16, 18, 18, 255) !important;
  color: white !important;
}

.modal-header {
  justify-content: center !important;
}

.challenge-card {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.challenge-card:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.challenge-details-header {
  display: flex;
  justify-content: space-between;
}

.challenge-status-icon {
  float: right;
  margin-top: -16px;
}

/*---------------------*/

/* STYLE */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: gray;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: rgba(33, 35, 40, 255);
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}

.opacity-65 {
  opacity: .65;
}

.white-space-break-spaces {
  white-space: break-spaces;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-right-10 {
  margin-right: 10px;
}

.text-align-start {
  text-align: start;
}

.font-size-18 {
  font-size: 18px;
}

.cursor-pointer {
  cursor: pointer;
}

.pointer-events-none {
  pointer-events: none;
}

/*---------------------*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}