html,
body,
.App,
:root {
  /* fallback for when -webkit-fill-available is not avaialbe */
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-width: 100vw;
  min-width: -webkit-fill-available;
  box-sizing: border-box;
  position: fixed;
}

body {
  background-image: url("assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* COMPONENTS */
.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  color: white;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  max-height: 200px;
}

.App-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 100px;
  z-index: 1;
  background: linear-gradient(45deg, black, transparent);
}

.App .btn-primary {
  border: 0;
  color: black;
  outline: none;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 32px;
  background: linear-gradient(97.42deg, #cdffe6, #8fdeff 94.24%);
}

.App .btn:hover {
  color: black;
  background: linear-gradient(194.84deg, #cdffe6, #8fdeff 94.24%);
}

.App .nav-link,
.App .nav-link:hover {
  color: white;
}

.App-link {
  color: #61dafb;
}

.loading-screen {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  position: fixed;
  align-items: center;
  background: rgba(119, 136, 153, 0.5);
  z-index: 1;
}

.alert-screen {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.alert-screen .alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-self: start;
  width: 50%;
  margin-top: 5rem;
  align-items: center;
  word-break: break-all;
}

.error-alert .btn-close:focus {
  box-shadow: none;
}

.custom-spinner {
  height: 100px !important;
  width: 100px !important;
  border-width: 5px !important;
}

.app-info-panel {
  margin-left: 1rem;
  align-items: center;
}

.info-button {
  height: 30px;
  cursor: pointer;
  margin-left: 25px;
}

.app-title {
  font-size: 30px;
  margin-left: 25px;
}

.wallet-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 25px;
  margin-top: 25px;
}

.header-target-network {
  font-size: 12px;
  margin: 0px;
  color: #e0d068
}

.main-panel,
.challenge-details-panel {
  display: flex;
  flex-direction: column;
  padding: 0px 25px 0px 25px;
  width: 100%;
  height: calc(100vh - 150px);
  overflow: auto;
}

.main-panel .row {
  justify-content: space-evenly;
}

.challenge-category-header {
  text-align: initial;
  text-underline-position: under;
  padding: 25px;
}

.challenge-details-panel .tab-content {
  display: flex;
  flex-direction: column;
}

.modal-content {
  background: rgba(16, 18, 18, 255) !important;
  color: white !important;
}

.modal-header {
  justify-content: center !important;
}

.challenge-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 25px;
}

.challenge-card:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.challenge-details-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.challenge-details-contract-info {
  text-align: start;
  margin-top: 10px;
}

.controller-buttons {
  display: inline-flex;
  flex-wrap: wrap;
  align-self: end;
}

.create-instance-button {
  margin-right: 10px;
}

.unsolved-background {
  background: rgb(221 9 9 / 38%);
}

.solved-background {
  background: rgb(40 149 40 / 38%);
}

.contract-tab {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 100%;
  text-align: start;
}

.contract-code-container {
  margin-top: 0;
  margin-bottom: 0;
  max-height: 60vh;
}

.hljs {
  max-height: inherit;
}

.social-icon {
  color: white;
  margin-right: 10px;
}

.ethernaut-footer {
  color: white;
  text-decoration: underline;
  font-size: larger;
  font-weight: bold;
}

.ethernaut-footer:hover,
.social-icon:hover {
  color: rgb(221, 216, 216) !important;
}

/*---------------------*/

/* STYLE */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: gray;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(33, 35, 40, 255);
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}

.opacity-65 {
  opacity: .65;
}

.white-space-break-spaces {
  white-space: break-spaces;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-right-10 {
  margin-right: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.pointer-events-none {
  pointer-events: none;
}

.height-25 {
  height: 25px;
}

.text-align-initial {
  text-align: initial;
}

/*---------------------*/

/* MEDIA */

@media (max-width: 391px) {
  .create-instance-button {
    margin-bottom: 10px;
  }
}

@media (max-width: 424px) {
  .wallet-panel .btn {
    font-size: small;
  }
}

@media (max-width: 623px) {

  .main-panel,
  .challenge-details-panel {
    height: calc(100vh - 225px);
  }
}

@media (max-width: 768px) {
  .App-header {
    margin-top: 10px;
    flex-direction: column;
  }

  .wallet-panel {
    margin-right: 0px;
  }

  .challenge-details-contract-info {
    font-size: 12px;
  }
}


@media (max-width: 1324px) {
  .challenge-details-header {
    flex-direction: column;
  }

  .contract-code-container {
    max-height: 55vh;
  }

  .controller-buttons {
    align-self: start;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}